@function px2rem($px,$flag:true){ //$flag => true 表示正数  反之 负数
    $rem : 75px;
    @if($flag){
        @return ($px/$rem) + rem;
    }
    @else{
        @return -($px/$rem) + rem;
    }
}

// 主题色
$home-color :#FD591E;
// 线
$home-line-color :#e3e3e3;
// 个人中心
.user-container {
    position: absolute;
    top: px2rem(88px);
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
.user-container-m {
    position: absolute;
    top: px2rem(108px);
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
// tab
.van-tab{
    font-size: px2rem(30px);
    color: #666;
}
.van-tabs__line{
    height: px2rem(2px);
    background-color: $home-color;
}
.van-overlay{
    z-index: 2013 !important;
}
.van-popup{
    z-index: 2014 !important;
}
.van-notify--danger{
    z-index: 3000 !important;
}
.van-dialog{
    z-index: 3000 !important;
}
// 提交按钮
.btn-common{
    width: px2rem(637px);
    height: px2rem(82px);
    line-height: px2rem(82px);
    background: $home-color;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: px2rem(35px);
    margin: px2rem(40px) auto;
}